PORT=3333
NODE_ENV=dev
FRONT_END_URL=

# db config
DATABASE_URL=
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=codequest_db

# redis config
REDIS_PASSWORD=
REDIS_HOST=


# secrets
SECRET_REFRESH_TOKEN=
SECRETE_AUTH=
SECRETE_COOKIES=
SECRETE_AUTH_RECOVERY_PASSWORD=


# mail
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

